.container {
  max-width: 1200px;
  margin: auto;
}

.navbar-logo {
  width: 200px;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 10px;
  font-size: larger;
  color: black;
}

.navbar button {
  padding: 0.5rem 1rem;
  background-color: bisque;
  border: 2px solid bisque;
  border-radius: 10px;
}

.hero {
  height: auto;
  width: 100%;
  background-color: #19325b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: aliceblue;
  flex-direction: column;
}

.hero button {
  background-color: green;
  padding: 1rem 1.5rem;
  color: aliceblue;
  border-radius: 10px;
  margin: 10px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  align-self: center;
  margin-top: 20px;
}

.cards {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-logo {
  height: 142px;
  width: 142px;
}
